.button {
    text-transform: uppercase;
    padding: .7rem;
    border: transparent;
    border-radius: 8px;
    color: $color-dark-blue;
    font-weight: 700;
    cursor: pointer;
}

.button_1 {
    background-color: $color-light-grey;

    &:hover {
        background-color: $color-dark-blue ;
        color: $color-white ;
    }
}

.button_2 {
    background-color: $color-orange;
    color: $color-white;

    &:hover {
        background-color: $color-salmon;
    }
}

.keyboard-img,
.phone-keyboard,
.glass-keyboard {
    border-radius: 20px;
}

.keyboard-img {
    position: relative;
    right: -4%;
}

.wireless > div:first-child  {
    background-color: $color-orange;
    border-radius: 20px;
}

.wireless > div:first-child img {
    mix-blend-mode: multiply;
    opacity: 0.75;
}

.wireless__images--phone-keyboard {
    position: absolute;
    left: -10%;
    grid-area: 1/2;
    grid-row: 1/2;
}

.phone-keyboard {
    width: 8rem;
}

.glass-keyboard {
    width: 13.75rem;
    position: absolute;
    right: .5rem;
}

.wireless__images--glass-keyboard {
   grid-area: 2/2;
   grid-row: 1/2
}

.wireless__content {
    grid-area: -1/-1;
    grid-row: 2/2;
    margin: 1rem 0;
    text-align: center;
}

.features__content-icon {
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 14px;
    background-color: $color-orange;
}


@media all and (min-width: 37.5rem) {

    .keyboard-img {
        position: absolute;
        width: 24.875rem;
        height: 21.563rem;
        top: 15%;
        left: 60%;
        object-fit: cover;
       
    }

    .wireless__images--phone-keyboard {
        left: 5%;
    }

    .phone-keyboard {
        width: 10rem;
    }

    .glass-keyboard {
        width: 20rem;
        right: 2rem;
        margin-top: .5rem;
    }
}

@media all and (min-width: 48rem) {

    .keyboard-img {
        width: 26.875rem;
        height: 23.563rem;
    }

    
   .wireless > div:first-child  {
       margin-top: 4rem;
   }

   .phone-keyboard {
       width: 13rem;
   }

   .glass-keyboard {
        width: 27rem;
        margin-top: 4rem;
}
}

@media all and (min-width: 56.25rem) {

    .phone-keyboard {
        width: 14rem;
    }

    .glass-keyboard {
        width: 30rem;
    }
}