.headings {
    text-transform: uppercase;
    font-weight: 900;
    color: $color-dark-blue;
}

.paragraphs {
    font-size: $font-size-1;
    font-weight: 500;
    color: $color-grey;
    line-height: 26px;
}

.title {
    font-size: $font-size-3;
    line-height: 1;
}

.intro__paragraph {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: $font-size-1;
    font-weight: 700;
    color: $color-grey;
}

.wireless__content-paragraph {
    margin-top: 1.6rem;
}

.footer__content {
    font-size: 1rem;
    color: $color-grey;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
}