/*=============
     #Colors
  =============
*/

$color-orange: #f16718;
$color-salmon: #ff9b62;
$color-dark-blue: #162542;
$color-grey: #7b8bad;
$color-light-grey: #e8eff2;
$color-white: #ffff;

/*================
     #Font-size
  ================
*/

$font-size-3_5: 3.5rem;
$font-size-2: 2rem;
$font-size-1_5: 1.5rem;
$font-size-1: 1rem;